In [3]:
import pandas as pd 
from scipy.sparse import csr_matrix
from fuzzywuzzy import process

c:\Users\Pontus\Codes\Github\AI-Pontus-Berglund-OPA23-\venv\Lib\site-packages\fuzzywuzzy\fuzz.py:11: UserWarning: Using slow pure-python SequenceMatcher. Install python-Levenshtein to remove this warning
  warnings.warn('Using slow pure-python SequenceMatcher. Install python-Levenshtein to remove this warning')

In [4]:
movies = "../data/ml-latest/movies.csv"
ratings = "../data/ml-latest/ratings.csv"

df_movies = pd.read_csv(movies, usecols = ["movieId", "title"], dtype={"movieId":"int32", "title":"str"})
df_ratings = pd.read_csv(ratings, usecols = ["userId", "movieId", "rating"], dtype={"userId":"int32", "movieId":"int32",  "rating":"float32"})

In [5]:
df_ratings.head()

   userId  movieId  rating
0       1        1     4.0
1       1      110     4.0
2       1      158     4.0
3       1      260     4.5
4       1      356     5.0

In [19]:
total_ratings = df_ratings['movieId'].value_counts()
top_rated_movies = total_ratings[total_ratings >= 10000]
top_rated_movies_data = df_ratings[df_ratings['movieId'].isin(top_rated_movies.index)]
top_rated_movies_avg = top_rated_movies_data.groupby('movieId')['rating'].mean().reset_index()
top_rated_movies_avg_filtered = top_rated_movies_avg[top_rated_movies_avg['rating'] >= 3]
top_rated_movies_titles = top_rated_movies_avg_filtered.merge(df_movies, on='movieId')

# Skapa pivot-tabell med movieId på x-axeln och userId på y-axeln, med rating som värden

pivot_table_ratings = pd.pivot(top_rated_movies_data, values='rating', index='movieId', columns='userId').fillna(0)
user_counts = df_ratings['userId'].value_counts()
users_to_keep = user_counts[user_counts >= 20].index
# Help from chatgpt
users_to_keep = [user for user in users_to_keep if user in pivot_table_ratings.columns]
pivot_table_ratings = pivot_table_ratings.loc[:, users_to_keep]

print(pivot_table_ratings)

userId   189614  48766   207216  175998  76618   230765  184775  236260  \
movieId
1           4.0     3.5     4.0     3.0     5.0     5.0     3.0     5.0
2           3.0     1.5     4.0     3.0     1.0     4.0     3.0     3.0
3           0.0     3.0     3.0     0.0     1.5     4.0     2.0     2.5
5           2.5     2.5     3.0     0.0     1.0     5.0     2.5     1.5
6           4.0     4.0     4.0     3.5     3.0     4.0     5.0     4.0
...         ...     ...     ...     ...     ...     ...     ...     ...
187593      3.5     0.0     0.0     3.0     2.0     4.0     4.0     0.0
195159      4.0     0.0     0.0     3.5     5.0     4.0     4.0     0.0
202439      4.0     3.0     0.0     4.5     4.5     4.5     4.0     0.0
204698      0.0     4.0     0.0     2.5     3.0     3.5     4.0     0.0
207313      0.0     3.5     0.0     3.5     4.0     4.5     3.0     0.0

userId   233891  214831  ...  2424    12239   306738  125944  294768  112624  \
movieId                  ...
1           5.0     5.0  ...     3.0     0.0     0.0     0.0     0.0     0.0
2           4.0     0.5  ...     0.0     0.0     0.0     0.0     0.0     0.0
3           3.0     0.5  ...     3.0     0.0     0.0     0.0     0.0     0.0
5           4.0     1.0  ...     3.0     0.0     0.0     0.0     0.0     0.0
6           5.0     4.0  ...     4.0     0.0     0.0     0.0     0.0     0.0
...         ...     ...  ...     ...     ...     ...     ...     ...     ...
187593      3.0     2.5  ...     0.0     0.0     0.0     0.0     0.0     0.0
195159      0.5     4.5  ...     0.0     0.0     0.0     0.0     0.0     0.0
202439      5.0     1.0  ...     0.0     0.0     0.0     0.0     0.0     0.0
204698      3.0     1.5  ...     0.0     0.0     0.0     0.0     0.0     0.0
207313      0.0     4.5  ...     0.0     0.0     0.0     0.0     0.0     0.0

userId   330562  330485  197139  2429
movieId
1           0.0     0.0     4.0     0.0
2           0.0     0.0     0.0     0.0
3           0.0     0.0     0.0     0.0
5           0.0     0.0     3.0     0.0
6           0.0     0.0     0.0     0.0
...         ...     ...     ...     ...
187593      0.0     0.0     0.0     0.0
195159      0.0     0.0     0.0     0.0
202439      0.0     0.0     0.0     0.0
204698      0.0     0.0     0.0     0.0
207313      0.0     0.0     0.0     0.0

[840 rows x 204284 columns]

In [20]:
sparse_matrix = csr_matrix(pivot_table_ratings.values)

print(sparse_matrix)

  (0, 0)	4.0
  (0, 1)	3.5
  (0, 2)	4.0
  (0, 3)	3.0
  (0, 4)	5.0
  (0, 5)	5.0
  (0, 6)	3.0
  (0, 7)	5.0
  (0, 8)	5.0
  (0, 9)	5.0
  (0, 10)	3.0
  (0, 12)	4.0
  (0, 13)	4.0
  (0, 14)	3.0
  (0, 15)	4.5
  (0, 16)	3.5
  (0, 17)	2.5
  (0, 18)	3.5
  (0, 19)	4.0
  (0, 20)	5.0
  (0, 21)	5.0
  (0, 23)	4.0
  (0, 24)	2.0
  (0, 25)	4.0
  (0, 26)	4.0
  :	:
  (839, 200317)	3.0
  (839, 200531)	4.0
  (839, 201111)	3.5
  (839, 201147)	4.0
  (839, 201226)	5.0
  (839, 201235)	5.0
  (839, 201243)	4.5
  (839, 201363)	5.0
  (839, 201380)	5.0
  (839, 201421)	5.0
  (839, 202167)	5.0
  (839, 202172)	4.0
  (839, 202225)	5.0
  (839, 202428)	5.0
  (839, 202431)	4.0
  (839, 202454)	5.0
  (839, 202582)	4.0
  (839, 202604)	4.0
  (839, 202628)	4.0
  (839, 202943)	5.0
  (839, 203081)	5.0
  (839, 203635)	5.0
  (839, 203719)	4.5
  (839, 203851)	3.5
  (839, 203972)	3.5